<!DOCTYPE html>
<html>
<head>
  <title>Beluga</title>
</head>
<body>
<% if session[:user_id] %>
  <h1>Welcome <%=User.find(session[:user_id]).username%> <a href="/sign-out">Sign-Out</a> | <a href="/edit-profile/<%=session[:user_id]%>">Edit Profile</a> | <a href="/profile/<%=session[:user_id]%>">View Profile</a> | <a href="/">Home</a></h1>
<% else %>
  <form method="POST" action="/sign-in">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="text" name="password">
    <button type="submit">Go!</button>
  </form>
<% end %>
<%= yield %>
</body>
</html>