<!DOCTYPE html>
<html>
<head>
  <title>Beluga Microblog</title>

  	<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
  	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/postcard.css">

</head>
<body>
<% if session[:user_id] %>
  <h1>Welcome <%=User.find(session[:user_id]).username%> <a href="/sign-out">Sign-Out</a> | <a href="/edit-profile/<%=session[:user_id]%>">Edit Profile</a> | <a href="/profile/<%=session[:user_id]%>">View Profile</a> | <a href="/">Home</a> | <a href="/tags/<%session%>">Tags</a></h1>
<% else %>
  <form method="POST" action="/sign-in">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="text" name="password">
    <button type="submit">Go!</button>
  </form>
<% end %>


	<script type="text/javascript" src="javascript/jquery.js"></script>
<%= yield %>
</body>
</html>