<!DOCTYPE html>
<html>
<head>
  <title>Beluga Microblog</title>


  	<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
  	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/postcard.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav-in.css">
    <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">

</head>
<body>

<!--NAVBAR CODING-->

<% if session[:user_id] %>
  <%= erb :"nav-logged-in" %>
<% else %>
  <%= erb :"nav-logged-out" %>
<% end %>

<div class="container">

<%= yield %>
</div>

    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/js/post-limiting.js"></script>
</body>
</html>