
<nav class="navbar navbar-nav navbar-fixed-top">
    <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="beluga" alt="Beluga" src="/images/beluga-01.PNG">
      </a>
      <a class="navbar-brand navbar-name" href="/">
        <h1>Beluga</h1>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav-pills">
        <li class="active pill"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="pill"><a href="/tags/<%session%>" class="nav-link">Tags</a></li>
        <li class="pill"><a href="/user/new" class="nav-link">Sign-up</a></li>
      </ul>
      <ul class="nav navbar-nav nav-pills navbar-right">
        <form method="POST" action="/sign-in" class="form-inline  navbar-right">
          <input type="text" name="username" class="form-control" placeholder="username">
          <input type="text" name="password"  class="form-control" placeholder="Password">
          <button type="submit" class="btn btn-default form-control">Go!</button>
        </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

