<h1>New Tag:</h1>
<form method="post" action="/tag/new">
	<label for="name">Tag name:</label>
	<br>
	<textarea name="name" rows="4" cols="50"></textarea>
	<br>
	<button type="submit">Create Tag!</button>
</form>