

.beluga	{	
	margin: auto;
	height: 100px;
	float: left;				
  	padding: 1px 10px;
  	font-size: 15px;
  	line-height: 15px;
}
.navbar {
    /*position: relative;*/ /*this was messing up my nav -h*/
    min-height: 100px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-inverse	{
	background-color: #F5F4E8
}

.navbar-brand	{
	padding: 0;
}