.post_options {
	font-size: .5em;
	font-weight: normal;
}

img.postcard-pic.img-responsive, .prof-pic {
	border: 3px solid rgb(51,51,55);
	border-radius: 10px
}

.row.post-body {
	margin-bottom: 1em;
}